.story-text {
  margin-bottom: 1rem;

  .story-text-item {
    margin-bottom: 0.5rem;
    line-height: 1.5;
    display: flex;
    align-items: center;

    span {
      margin-right: 0.5rem;
    }

    .translation-icon {
      cursor: pointer;
      color: #007bff;
      font-size: 1rem;

      &:hover {
        color: #0056b3;
      }
    }
  }
}
